.error-404 {
    background-color: #e6e3e1;
    background-image: url();
    margin-top: -37px;
    flex-grow: 1;
    &__wrap {
        position: relative;
    }
    &__btn {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 235px;
        height: 49px;
    }
    &__img {
        width: 810px;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .error-404 {
        margin-top: -40px;
        &__img {
            width: 100%;
        }
        &__btn {
            width: 201px;
            height: 37px;
            // bottom: 44px;
        }
    }
}

@media screen and (max-width: 768px) {
    .error-404 {
        &__wrap {
            height: 480px;
            position: relative;
        }
        &__img {
            height: 100%;
            width: auto;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
        }
        &__btn {
            bottom: unset;
            top: 365px;
        }
    }
}