.company {
    border-top: 1px solid #f7f5f0;
    margin-top: 50px;
    padding-top: 50px;
    &__inner {
        display: flex;
        margin-bottom: 35px;
    }
    &__left {
        margin-right: 65px;
    }
    &__right p {
        margin-bottom: 28px;
    }
    &__title {
        margin-bottom: 32px;
        font-size: 26px;
        line-height: 31px;
        font-weight: 500;
        color: #202020;
    }
    &__button {
        display: flex;
        flex-wrap: wrap;
    }
    &__socials {
        display: flex;
        align-items: center;
        margin-top: 34px;
        &-title {
            font-size: 14px;
            line-height: 34px;
            font-weight: 500;
            letter-spacing: 0.04em;
            color: #2d2d2d;
            margin-right: 29px;
            &:hover {
                color: #85ab45;
                cursor: pointer;
            }
        }
        &-link {
            display: flex;
        }
        &-item {
            display: flex;
            align-items: center;
            span {
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: #000000;
                margin-left: 14px;
                &:hover {
                    color: #85ab45;
                }
            }
            path {
                fill: #9ac354;
            }
        }
        &-item:not(:last-child) {
            margin-right: 19px;
        }
    }
    &__gallery {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        a:not(:last-child) {
            margin-right: 6px;
        }
        a {
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// .contact-about {
//     background-image: url(../images/contact.jpg);
//     // background-image: url(../images/contact.jpg) center no-repeat, url(../images/contact_right.png) center right no-repeat;
//     &__title {
//         font-size: 24px;
//         line-height: 34px;
//         font-weight: 500;
//         letter-spacing: 0.05em;
//         padding-right: 45px;
//         color: #ffffff;
//         &::after {
//             content: '';
//             width: 637px;
//             height: 1px;
//             background-color: #60ad75;
//         }
//     }
//     &__items {
//         display: flex;
//         justify-content: space-between;
//     }
//     &__adress-title,
//     &__mail-title,
//     &__telephone-title {
//         font-size: 12px;
//         line-height: 30px;
//         font-weight: 400;
//         color: #ffffff;
//         margin-left: 31px;
//     }
//     &__item {
//         display: flex;
//         align-items: center;
//         svg:nth-child(2) {
//             width: 9px;
//             height: 15px;
//         }
//         svg:nth-child(1) {
//             width: 13px;
//             height: 13px;
//         }
//         path {
//             fill: #ffffff;
//         }
//     }
//     &__text {
//         font-size: 16px;
//         line-height: 30px;
//         font-weight: 400;
//         color: #ffffff;
//         margin-left: 16px;
//     }
//     &__number {
//         font-size: 18px;
//         line-height: 34px;
//         font-weight: 500;
//         color: #ffffff;
//         margin-left: 17px;
//     }
//     &__network {
//         font-size: 12px;
//         line-height: 30px;
//         font-weight: 400;
//         color: #c7ead1;
//         margin-left: 16px;
//     }
//     &__social {
//         top: 50%;
//         transform: translate(50%, -7%);
//         display: flex;
//         align-items: center;
//         svg {
//             top: 50%;
//             left: 50%;
//             transform: translate(50%, 50%);
//             path {
//                 fill: #43985b;
//                 &:hover {
//                     color: #ffffff;
//                     cursor: pointer;
//                 }
//             }
//         }
//         &-image {
//             background-color: #ffffff;
//             border-radius: 50%;
//             width: 48px;
//             height: 48px;
//             &:hover {
//                 background-color: #207438;
//                 cursor: pointer;
//             }
//         }
//         &-image:not(:last-child) {
//             margin-right: 11px;
//         }
//     }
// }
@media screen and (max-width: 1200px) {
    .company__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6px;
        a {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 992px) {
    .company {
        &__inner {
            display: block;
        }
        &__left {
            width: 100%;
            margin-right: 0;
            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .company {
        margin-top: 22px;
        padding-top: 16px;
        &__inner {
            margin-bottom: 24px;
        }
        &__left {
            margin-bottom: 22px;
        }
        &__right p {
            margin-bottom: 24px;
        }
        &__title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
        }
        &__socials {
            margin-top: 24px;
            display: block;
            &-item {
                svg {
                    width: 17px;
                    height: 17px;
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .company__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3px;
        margin-top: 24px;
        a {
            width: 100%;
            height: 100%;
        }
    }
}