.footer__col {
  width: 160px;
  position: relative; }
  .footer__col:nth-child(1) {
    width: 505px;
    flex-shrink: 0; }
.footer__head {
  display: flex;
  align-items: center;
  padding-right: 58px; }
.footer__logo {
  width: 218px;
  margin-right: 40px;
  display: block;
  flex-shrink: 0; }
  .footer__logo img,
  .footer__logo svg {
    width: 100%; }
.footer__langs {
  display: flex; }
.footer__lang {
  width: 43px;
  height: 43px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  background-color: #85ab45;
  border: 1px solid #a1bfa0; }
  .footer__lang--active {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    pointer-events: none; }
  .footer__lang:hover {
    border: 1px solid #ffffff;
    cursor: pointer; }
  .footer__lang:not(:last-child) {
    margin-right: 5px; }
  .footer__lang img {
    width: 19px; }
.footer__title {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 12px; }
.footer__link {
  font-size: 13px;
  line-height: 32px;
  font-weight: 400;
  color: #d0e1b3;
  display: block; }
  .footer__link:hover {
    color: #ffffff; }
.footer__info {
  margin-top: 40px; }
.footer__address, .footer__mail, .footer__phone {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px; }
  .footer__address:hover, .footer__mail:hover, .footer__phone:hover {
    color: #ccf18e; }
  .footer__address i, .footer__mail i, .footer__phone i {
    margin-right: 15px;
    width: 13px;
    display: flex;
    justify-content: center;
    flex-shrink: 0; }
.footer__address {
  pointer-events: none;
  padding-right: 58px; }
.footer__phone {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500; }
.footer__phones {
  display: flex;
  align-items: center;
  margin-top: 20px; }
.footer__whatsapp {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #ffffff; }
  .footer__whatsapp:hover {
    color: #ccf18e; }
  .footer__whatsapp strong {
    margin: 0 15px;
    font-weight: 500;
    font-size: 16px; }
  .footer__whatsapp span {
    font-size: 12px;
    color: #ddebc4; }
  .footer__whatsapp i {
    width: 3px;
    height: 3px;
    background-color: #9aca97;
    display: block; }
.footer__socials {
  position: absolute;
  right: 0;
  top: 0; }
  .footer__socials-item {
    width: 48px;
    height: 48px;
    background-color: #678b2b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px; }
    .footer__socials-item:hover {
      background-color: #466413; }
.footer__privacy {
  font-size: 12px;
  font-weight: 400;
  color: #c1d2a5; }
.footer__by {
  font-size: 10px;
  font-weight: 400;
  color: #c1d2a5;
  margin-top: 10px; }
  .footer__by a:hover {
    color: #ffffff; }

.footer-top {
  background-color: #85ab45;
  position: relative;
  padding: 40px 0; }
  .footer-top:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 15px;
    right: 0;
    bottom: 0;
    background-image: url(../images/wave4.png);
    background-size: 100% 100%;
    pointer-events: none; }
  .footer-top__inner {
    display: flex;
    justify-content: space-between; }

.footer-bottom {
  background-color: #678b2b;
  padding: 25px 0; }
  .footer-bottom__inner {
    display: flex; }
  .footer-bottom__info {
    display: flex;
    align-items: center; }
  .footer-bottom__link {
    font-size: 12px;
    font-weight: 400;
    color: #cbdeaa;
    display: block; }
    .footer-bottom__link:not(:last-child) {
      margin-right: 25px; }
    .footer-bottom__link:hover {
      color: #ffffff; }

@media screen and (max-width: 1240px) {
  .footer__col:nth-child(1) {
    width: 350px; }
  .footer__head {
    display: block; }
  .footer__logo {
    margin-right: 0;
    margin-bottom: 20px; }
  .footer__address {
    padding-right: 0; }
  .footer__phones {
    display: block; }
  .footer__whatsapp {
    margin-top: 20px;
    margin-left: 28px; }
    .footer__whatsapp strong {
      margin-left: 0; }
    .footer__whatsapp i {
      display: none; } }
@media screen and (max-width: 992px) {
  .footer__col {
    display: none;
    position: static; }
    .footer__col:nth-child(1) {
      display: block;
      width: 100%; }
  .footer__head {
    display: flex;
    padding-right: 0; }
  .footer__logo {
    margin-right: 40px;
    margin-bottom: 0; }
  .footer__info {
    margin-top: 0; }
  .footer__address, .footer__mail, .footer__phone {
    font-size: 12px; }
    .footer__address i, .footer__mail i, .footer__phone i {
      margin-right: 10px; }
  .footer__phone {
    font-size: 14px; }
  .footer__phones {
    padding-right: 80px; }
  .footer__whatsapp {
    margin-top: 9px;
    display: block;
    margin-left: 23px; }
    .footer__whatsapp strong {
      font-size: 14px; }
    .footer__whatsapp span {
      display: block;
      margin-top: 6px;
      font-size: 10px; }
  .footer__socials {
    bottom: 15px;
    top: unset;
    display: flex;
    align-items: center; }
    .footer__socials-item {
      margin-left: 3px;
      margin-bottom: 0;
      width: 37px;
      height: 37px; }
      .footer__socials-item svg {
        height: 15px;
        width: auto; }
  .footer__privacy {
    font-size: 8px;
    margin-top: 10px; }
  .footer__by {
    font-size: 7px;
    margin-top: 6px; }

  .footer-top {
    padding: 15px 0 27px; }
    .footer-top:after {
      height: 9px;
      width: 990px; }
    .footer-top__inner {
      position: relative; }

  .footer-bottom {
    padding: 13px 0; }
    .footer-bottom__inner {
      flex-wrap: wrap; }
    .footer-bottom__info {
      order: -1;
      display: block; }
    .footer-bottom__link {
      font-size: 10px;
      line-height: 16px;
      margin-right: 0 !important; } }
@media screen and (max-width: 768px) {
  .footer__logo {
    width: 150px;
    margin-right: 0; }
  .footer__langs {
    margin-left: auto; }
  .footer__lang {
    width: 32px;
    height: 32px; }
    .footer__lang:not(:last-child) {
      margin-right: 3px; }
    .footer__lang img {
      width: 14px; } }

/*# sourceMappingURL=footer.css.map */
