.main {
    position: relative;
    &__bg {
        height: 100%;
        width: auto;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    &__inner {
        position: relative;
        z-index: 2;
        padding: 0 30px;
    }
    &__slider {
        position: relative;
        .swiper-slide {
            background-color: #e5e5dc;
            position: relative;
            padding-left: 90px;
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 15px;
                right: 0;
                background-image: url(../images/wave2.png);
                bottom: 0;
                background-size: 100% 100%;
                pointer-events: none;
            }
        }
        &-item {
            position: relative;
            z-index: 2;
            padding: 100px 0 120px;
        }
        .swiper-container {
            overflow-x: hidden;
        }
        &-prev,
        &-next {
            width: 46px;
            height: 46px;
            margin-left: 8px;
            margin-left: 8px;
            border-radius: 50%;
            z-index: 3;
            outline: none !important;
            top: -230px;
            &:after {
                display: none;
            }
            &.swiper-button-disabled {
                background-color: #edeae3;
                opacity: 1;
            }
        }
        &-next {
            right: 0;
            transform: translateX(50%);
        }
        &-prev {
            left: 0;
            transform: translateX(-50%);
        }
        &-pag {
            bottom: 30px;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
        }
        .swiper-pagination {
            position: static;
            bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #9ac354;
            opacity: 1;
            margin: 0 3px;
        }
        .swiper-pagination-bullet-active {
            background-color: #4f924b;
        }
    }
    &__title {
        font-size: 46px;
        line-height: 47px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #9ac354;
        max-width: 430px;
    }
    &__subtitle {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #b27544;
        margin-top: 18px;
        max-width: 300px;
    }
    &__desc {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        margin-top: 24px;
        max-width: 300px;
    }
}

.advantages {
    padding: 30px 0;
    border-bottom: 1px solid #ebe9e3;
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    &__item {
        display: flex;
        align-items: center;
        width: calc(33.33% - 20px);
        &-img {
            width: 90px;
            margin-right: 25px;
            flex-shrink: 0;
            img {
                width: 100%;
            }
        }
        &-title {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}

.catalog-index {
    padding: 60px 0 55px;
    text-align: center;
    &__title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #232323;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: #9ac354;
        margin-top: 16px;
    }
    &__items {
        margin-top: 45px;
        margin-bottom: 21px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    &__item {
        height: 225px;
        background-color: #f7f5f0;
        border-radius: 5px;
        position: relative;
        padding-top: 160px;
        display: block;
        &:hover {
            cursor: pointer;
            &:before {
                opacity: 1;
            }
            .catalog-index__item-title {
                color: #9ac354;
            }
        }
        &:before {
            transition: all .3s;
            content: '';
            position: absolute;
            z-index: 1;
            border: 2px solid #9ac354;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            pointer-events: none;
            opacity: 0;
            border-radius: 5px;
        }
        &-img {
            width: 166px;
            height: 145px;
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-num {
            width: 22px;
            height: 22px;
            background-color: #9ac354;
            border-radius: 5px;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 9px;
            font-weight: 500;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-title {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            color: #212121;
            max-width: 110px;
            margin: 0 auto;
        }
    }
}

.search-block {
    height: 98px;
    background-color: #f7f5f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    &__title {
        font-size: 19px;
        font-weight: 500;
        color: #454545;
        margin-right: 32px;
        white-space: nowrap;
    }
    .header__search {
        flex-grow: 1;
        input {
            padding-right: 330px;
        }
        &-select {
            right: 125px;
        }
        &-btn {
            width: 109px;
            height: 35px;
            border-radius: 17.5px;
        }
    }
}

.catalog-prod {
    padding: 65px 0;
    text-align: center;
    background-image: url(../images/catalog_prod_bg.jpg);
    background-size: cover;
    position: relative;
    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 15px;
        right: 0;
        top: 0;
        background-image: url(../images/wave1.png);
        background-size: 100% 100%;
        pointer-events: none;
    }
    &:after {
        background-image: url(../images/wave3.png);
        bottom: 0;
        top: unset;
    }
    &__title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        color: #7f603d;
        margin-top: 16px;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 22px;
        margin-top: 33px;
    }
    &__item {
        background-color: #e8d0b8;
        border-radius: 5px;
        padding: 5px;
        display: block;
        &:hover {
            .catalog-prod__item-title {
                background-color: #9c6336;
            }
        }
        &-img {
            height: 144px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            min-height: 84px;
            background-color: #b27544;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            color: #ffffff;
            transition: all .3s;
            svg {
                margin-left: 29px;
            }
        }
    }
}

.collection {
    padding: 65px 0 70px;
    position: relative;
    background-color: #f7f5f0;
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 15px;
        right: 0;
        bottom: 0;
        background-image: url(../images/wave2.png);
        background-size: 100% 100%;
        pointer-events: none;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left {
            padding-right: 120px;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #9ac354;
        padding-bottom: 18px;
        position: relative;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            // transform: scale(1.1);
            font-weight: 500;
        }
        &:not(:last-child) {
            margin-right: 45px;
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #9ac354;
            opacity: 0;
            transition: all .3s;
        }
        &--black {
            color: #252525;
            font-size: 26px;
            padding-bottom: 0;
            pointer-events: none;
            font-weight: 500;
        }
        &--prod {
            color: #b27544;
            &:before {
                background-color: #b27544;
            }
        }
        &--active {
            font-weight: 700;
            pointer-events: none;
            &:before {
                opacity: 1;
            }
        }
    }
    &__slider {
        margin-top: 35px;
        position: relative;
        &-nav {
            display: flex;
            align-items: center;
            bottom: 100%;
            right: 0;
            margin-bottom: 34px;
            position: absolute;
        }
        &-prev,
        &-next {
            width: 46px;
            height: 46px;
            margin-left: 8px;
            position: static;
            transform: translate(0, 0);
            margin: 0;
            margin-left: 8px;
            border-radius: 50%;
            &:after {
                display: none;
            }
            &.swiper-button-disabled {
                background-color: #edeae3;
                opacity: 1;
            }
        }
        &-pagination {
            position: static;
            width: 100%;
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper-pagination-bullet {
                width: 17px;
                height: 5px;
                background-color: #d5d2c9;
                border-radius: 2.5px;
                margin: 0 5px;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                width: 53px;
                background-color: #9ac354;
            }
        }
        .swiper-container {
            width: 100%;
            overflow-x: hidden;
        }
        &--brown {
            .swiper-pagination-bullet-active {
                background-color: #b27544;
            }
        }
    }
    &__content {
        display: none;
        &--active {
            display: block;
        }
    }
}

.info {
    padding: 80px 0 60px;
    background-position: left bottom;
    background-image: url(../images/svg/about-image.jpg);
    background-repeat: no-repeat;
    background-size: 580px auto;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 15px;
        right: 0;
        bottom: 0;
        background-image: url(../images/wave3.png);
        background-size: 100% 100%;
        pointer-events: none;
    }
    &__inner {
        display: flex;
        padding-left: 190px;
    }
    &__left {
        width: 295px;
        flex-shrink: 0;
        margin-right: 80px;
    }
    &__logo {
        width: 286px;
        img {
            width: 100%;
        }
    }
    &__title {
        font-size: 26px;
        line-height: 31px;
        font-weight: 500;
        color: #b27544;
        margin-top: 32px;
    }
    &__right {
        flex-grow: 1;
        p {
            margin-bottom: 20px;
        }
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }
    &__btn {
        height: 43px;
        width: unset;
        padding: 0 30px;
        margin-right: 5px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1240px) {
    .main {
        &__title {
            font-size: 40px;
            line-height: 41px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__desc {
            font-size: 14px;
        }
        &__slider {
            &-item {
                padding: 50px 0 70px;
            }
            &-prev,
            &-next {
                top: -170px;
            }
        }
    }
    .advantages {
        &__item {
            width: calc(33.33% - 10px);
            &-img {
                width: 80px;
                margin-right: 15px;
            }
        }
    }
    .catalog-index {
        &__item {
            height: 200px;
            padding-top: 130px;
            &-img {
                width: 130px;
                bottom: 80px;
            }
        }
    }
    .catalog-prod {
        &__items {
            gap: 10px;
        }
    }
    .info {
        background-size: 400px auto;
        &__inner {
            padding-left: 40px;
        }
        &__left {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        // padding: 35px 0;
        overflow-x: hidden;
        &__inner {
            padding: 0;
        }
        &__title {
            font-size: 20px;
            line-height: 23px;
            max-width: 200px;
        }
        &__subtitle {
            font-size: 13px;
            line-height: 15px;
            margin-top: 10px;
            max-width: 120px;
        }
        &__desc {
            display: none;
        }
        &__btn {
            width: 172px;
            height: 36px;
            margin-top: 15px;
        }
        .swiper-slide {
            padding: 0;
            &:after {
                height: 9px;
                width: 990px;
            }
        }
        .swiper-pagination {
            height: 15px;
            background-color: #ffffff;
            border-radius: 7.5px;
            padding: 0 7px;
        }
        &__slider {
            overflow-x: hidden;
            &-item {
                padding-bottom: 100px;
                padding-left: 20px;
            }
            &-pag {
                bottom: 20px;
                align-items: center;
                height: 34px;
            }
            .swiper-pagination-bullet {
                width: 7px;
                height: 7px;
                margin: 0 2px;
            }
            &-prev,
            &-next {
                width: 34px;
                height: 34px;
                position: static;
                transform: translate(0, 0);
                margin: 0 16px;
            }
        }
    }
    .advantages {
        padding: 0 0 20px;
        &__items {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
        &__item {
            width: 100%;
            margin-top: 16px;
            &-img {
                margin-right: 20px;
                width: 70px;
            }
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .catalog-index {
        padding: 30px 0;
        &__items {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px 5px;
            margin-top: 37px;
            margin-bottom: 16px;
        }
        &__item {
            height: 154px;
            padding-top: 102px;
            &-img {
                width: calc(100% - 30px);
                height: 100px;
            }
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
            &-num {
                width: 15px;
                height: 15px;
                font-size: 8px;
            }
        }
        &__title {
            font-size: 16px;
        }
        &__subtitle {
            font-size: 10px;
            margin-top: 12px;
        }
    }
    .search-block {
        padding: 0 14px;
        height: 65px;
        &__title {
            display: none;
        }
        .header__search {
            width: 100%;
            input {
                padding-right: 35px;
            }
            &-btn {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                right: 6px;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5.27 9.29'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M295.41,416.76a.63.63,0,0,1,1.07-.45l4,4a.64.64,0,0,1,0,.89l-4,4a.63.63,0,0,1-1.07-.44Z' transform='translate(-295.41 -416.13)'/%3E%3C/svg%3E");
                background-size: 4px auto;
                background-repeat: no-repeat;
                background-position: center;
                span,
                svg {
                    display: none;
                }
            }
        }
    }
    .catalog-prod {
        padding: 40px 0;
        &:before,
        &:after {
            height: 9px;
            width: 990px;
        }
        &__items {
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 12px;
            margin-top: 10px;
        }
        &__item {
            &-img {
                height: unset;
                img {
                    height: auto;
                }
            }
            &-title {
                min-height: 58px;
                font-size: 12.2px;
                svg {
                    margin-left: 20px;
                }
            }
        }
    }
    .collection {
        padding: 30px 0 35px;
        &:before,
        &:after {
            height: 9px;
            width: 990px;
        }
        &__top-left {
            padding-right: 0;
        }
        &__title {
            font-size: 15px;
            padding-bottom: 8px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:before {
                height: 1px;
            }
        }
        &__slider {
            margin-top: 23px;
            &-nav {
                position: static;
                margin: 23px 0 0;
                justify-content: center;
            }
            &-prev,
            &-next {
                margin: 0 4px;
                width: 35px;
                height: 35px;
                svg {
                    width: 5px;
                }
            }
            &-pagination {
                display: none;
            }
        }
    }
    .info {
        padding: 37px 0 40px;
        background-image: none;
        &:after {
            height: 9px;
            width: 990px;
        }
        &__inner {
            display: block;
            padding-left: 0;
        }
        &__left {
            margin-right: 0;
            width: 100%;
        }
        &__right {
            margin-top: 15px;
            p {
                margin-bottom: 10px;
            }
        }
        &__logo {
            width: 196px;
        }
        &__title {
            font-size: 18px;
            line-height: 24px;
            margin-top: 18px;
        }
        &__btn {
            height: 36px;
            padding: 0 25px;
            margin-right: 4px;
            margin-top: 4px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding-top: 0;
        .container {
            padding: 0;
            width: 100%;
        }
        &__inner {
            // padding-top: 23px;
        }
    }
}

@media screen and (max-width: 576px) {
    .catalog-index {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 400px) {
    .collection {
        &__title {
            font-size: 13px;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .main {
        &__bg {
            right: unset;
        }
    }
}